.details{
    color: white;
}
.invoiceItem{
    border-bottom: solid black 1px;
    margin-bottom: 7px;
    padding-bottom: 5px;
}

hr{
   border-top: 1px solid white;
}

.custom-background{
    background-color: rgba(128, 128, 128, 0.274);
    padding:10px;
    margin-right: 10px;;
}
  