.details{
    color: rgb(60, 210, 236);
}
.invoiceItem{
    margin-bottom: 7px;
    color: rgb(206, 234, 241);
}

hr{
   border-top: 1px solid white;
}

.custom-background{
    background-color: rgba(128, 128, 128, 0.425);
    padding:10px;
    margin-right: 10px;;
}
  